<div class="remove-container container-block">
<h2 class="container-block-title">About</h2>
<p>
	De nature enthousiaste, passionné et curieux, j'évolue dans le domaine du web et des nouvelles technologies. Je m'intéresse à l'entrepreneuriat, les startups, l'innovation, les API, l'open data, les objets connectés, le growth hacking, la communication et le marketing, la mobilité...
</p>
<p>
    Toujours friands de nouvelles rencontres, d'échanges et de conseils, n'hésitez pas à me contacter !
</p>
</div><!--//About-->