<div class="awards-container container-block">
<h2 class="container-block-title">Awards</h2>
<div class="item">
    <h4 class="award">Programme d'accélération</h4>
    <h5 class="address">Euratechnologies, Lille</h5>
    <div class="time">2015 - 2017</div>
</div>
<div class="item">
    <h4 class="award">Lauréat LMI</h4>
    <h5 class="address">Lille</h5>
    <div class="time">2013</div>
</div>
<div class="item">
    <h4 class="award">Programme Incubation</h4>
    <h5 class="address">Euratechnologies, Lille</h5>
    <div class="time">2012</div>
</div>
<div class="item">
    <h4 class="award">First place of the Startup Weekend</h4>
    <h5 class="addresss">Lille</h5>
    <div class="time">2012</div>
</div>
</div><!--//awards-->	
