<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profil de carrière</h2>
<div class="summary">
    <p>
        Dernièrement freelance, puis co-fondateur d'Ecota.co, j'ai acquis une solide expérience dans le monde de l'entreprenariat et de l'innovation, tout en continuant à perfectionner mes compétences techniques (comme Ruby on Rails, Node.js, Elixir, React, Angular...). Je participe activement à la vie des communautés techniques et entrepreunariales, soit en faisant partie de l'équipe organisatrice (TakeOff conf 2016, JDMC...) ou en tant que participant (APIdays, dotRB, Startup Weekend, TakeOff conf, ParisWeb...).
    </p><p>
        EcoTa.co était l'une des startups Made In France qui participait à l'innovation dans le secteur de la mobilité et du transport, un domaine que j'ai pu approfondir pendant 5 ans.
        Créer une startup m'a permis de plus me focaliser sur la conception globale d'un produit, la stratégie, l'innovation, les besoins clients et partenaires, le management... Des compétences que je souhaiterais mettre à profit lors de mes futures missions.
    </p>
</div><!--//summary-->
</section><!--//section-->
