<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profil de carrière</h2>
<div class="summary">
    <p>
        Je suis co-fondateur d'EcoTa.co, une des startups MadeIn France qui participait à l'innovation dans le secteur de la mobilité. J'était directeur général, directeur technique et également en charge de la partie de la communication et marketing digital.
    </p><p>
        Je suis également développeur full stack indépendant, et utilise des technologies comme Ruby on Rails, HTML5, CSS3, JavaScript, React...
    </p>
</div><!--//summary-->
</section><!--//section-->
