<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>
        Previously freelance, then co-founder of Ecota.co, I have acquired a solid experience in the world of entrepreneurship and innovation, while continuing to perfect my technical skills (like Ruby on Rails, Node.js , Elixir, React, Angular ...).
    </p><p>
        EcoTa.co was one of the made in France startups that participated in innovation in the field of mobility and transport, an area that I was able to deepen for 5 years. Creating a startup allowed me to focus more on the overall design of a product, strategy, innovation, customer and partner needs, management ... Skills that I would like to use in my futures missions.
    </p>
</div><!--//summary-->
</section><!--//section-->
