<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profile de carrière</h2>
<div class="summary">
    <p>
        De nature enthousiaste, passionné et curieux, j'évolue dans le domaine du web et des nouvelles technologies. Je m'intéresse à l'entrepreneuriat, les startups, l'innovation, les API, l'open data, les objets connectés, le growth hacking, la communication et le marketing, la mobilité...
    </p><p>
        Je suis co-fondateur d'EcoTa.co, une des startups MadeIn France qui participait à l'innovation dans le secteur de la mobilité. J'était directeur général, directeur technique et également en charge de la partie de la communication et marketing digital.
    </p><p>
        Je suis également développeur full stack indépendant, et utilise des technologies comme Ruby on Rails, HTML5, CSS3, JavaScript, React...
    </p><p>
        Toujours friands de nouvelles rencontres, d'échanges et de conseils, n'hésitez pas à me contacter !
    </p>
</div><!--//summary-->
</section><!--//section-->
