<div class="education-container container-block">
	<h2 class="container-block-title">Education</h2>
	<div class="item">
	    <h4 class="degree">Spring 3 &amp; Tapestry 5</h4>
	    <h5 class="meta">ATOS Origin, Lyon</h5>
	    <div class="time">2010</div>
	</div><!--//item-->
	<div class="item">
	    <h4 class="degree">Java &amp; complex JEE architectures : Spring Hibernate JSF</h4>
	    <h5 class="meta">Paris</h5>
	    <div class="time">2009</div>
	</div><!--//item-->
	<div class="item">
	    <h4 class="degree">Mainframe IBM CICS/MVS – JCL – TSO/ISPF – COBOL II TP &amp; BATCH – PACBASE - DB2</h4>
	    <h5 class="meta">Paris</h5>
	    <div class="time">2007</div>
	</div><!--//item-->s
	<div class="item">
	    <h4 class="degree">DUT electrical engineering and industrial computing, electronic option</h4>
	    <h5 class="meta">IUT A Lille 1</h5>
	    <div class="time">2003</div>
	</div><!--//item-->
	<div class="item">
	    <h4 class="degree">baccalaureate of sciences, science and life of the earth option</h4>
	    <h5 class="meta">Lille</h5>
	    <div class="time">2000</div>
	</div><!--//item-->
</div><!--//education-container-->