<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Co-fondateur, Directeur Général et technique </h3>
                <div class="time">2012 - 2017</div>
            </div><!--//upper-row-->
            <div class="company">EcoTa.co - FactorApp SAS, Euratechnologies, Lille</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Depuis sa création fin 2012, FactorApp SAS développe et exploite le service <a href="https://ecota.co" title="Platforme VTC">EcoTa.co</a> qui est une plate-forme de mise en relation entre des clients BtoB ou BtoC et des chauffeurs <abbr title="Véhicules de tourisme avec chauffeur">VTC</abbr> professionnels.
             </p><p>
                Nous avons développés un système d'information complexe à base de micro services, APIs ouverte ou interne, applications web et mobile native.
             </p>
            <ul>
                <li>Gestion de l'entreprise, optimisation des processus opérationnels.</li>
                <li>Définition de la stratégie de l'entreprise, management de l'innovation et des partenaires clefs (entreprises dans la mobilité et le transport).</li>
                <li>Recrutement, formation, management de l'équipe technique et de l'équipe commnication et marketing.</li>
                <li>Gestion de projets en mode Agile Scrum, Test Driven Development, intégration et déploiement continue.</li>
                <li>Gestion commerciales et techniques des partenaires qui intègre l'API.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Developpeur full stack freelance</h3>
                <div class="time">2010 - présent</div>
            </div><!--//upper-row-->
            <div class="company">Lille</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Consultant solution e-commerce Magento chez le matelas.fr.</li>
                <li>Développeur Magento chez Colisweb, réalisation du plugin de livraison ce connectant à l'API Colisweb.</li>
                <li>Responsable d'applications JEE / Cobol chez Cofidis.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Developpeur full stack Java / JEE</h3>
                <div class="time">2009 - 2010</div>
            </div><!--//upper-row-->
            <div class="company">Atos Origin worldline et intégration, Lille</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Modélisation et Conception technique de nouveaux services de la solution e-commerce Massilia, gestion des développements en offshore.</li>
                <li>Conception fonctionnelle et technique de nouveaux composants communs à différent web service du projet SPoP, gestion des développements en offshore.</li>
                <li>Consultant front-end sur le projet line bourse de Natixis</li>
            </ul> 
        </div><!--//details-->
    </div><!--//item-->
    
</section><!--//section-->
