<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Product Owner</h3>
                <div class="time">2017 - 2018</div>
            </div><!--//upper-row-->
            <div class="company">Freelance, Norauto, Lille</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Conception de micro-service en mode API first dans le cadre projet BeAPI qui est le point de départ de la transformation numérique chez Norauto
            </p>
            <ul>
                <li>Animation avec un Tech Lead d'une équipe de 6 developpeurs</li>
                <li>Utilisation des méthodologies Agile : Kanban, Story mapping, <abbr title="Behavior Driven Development">BDD</abbr>, <abbr title="Test Driven Developmen">TDD</abbr></li>
                <li>Définition de la vision et de la stratégie d'intégration des produits</li>
                <li>Gestion du product backlog et écriture des Users Stories</li>
                <li></li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Product Owner, Scrum Master</h3>
                <div class="time">2017</div>
            </div><!--//upper-row-->
            <div class="company">Freelance, modern-blocks, Lille</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Création, en mode Agile (3 développeurs), d’une marketplace en Ruby on Rails pour les photographes pour Modern-blocks.
            </p>
            <ul>
                <li>Définition de l’architecture sur la base de l’api e-commerce Moltin (alternative à une solution type prestashop ou magento) qui permet de se concentrer sur les fonctionnalités à plus haute valeur (Marketplace, enchères)</li>
                <li>Gestion de projets en mode Agile Scrum, rôle de Product Owner et Scrum Master, recueil des besoins des différents personas (Utilisateurs, photographes), élaboration et évolution du Product Backlog, arbitrage des besoins, mise en place de Zenhub pour une gestion agile plus efficace avec github, mise en place de rapports et charts.</li>
                <li>Planification des sprints, mêlée quotidienne, revue du sprint, report au client.</li>
                <li>Montée en compétence d’un développeur en tant que product owner.</li>
                <li>Amélioration de la librairie open source Moltin.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Co-fondateur, Directeur Général et technique </h3>
                <div class="time">2012 - 2017</div>
            </div><!--//upper-row-->
            <div class="company">EcoTa.co - FactorApp SAS, Euratechnologies, Lille</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Depuis sa création fin 2012, FactorApp SAS développe et exploite le service <a href="https://ecota.co" title="Platforme VTC">EcoTa.co</a> qui est une plate-forme de mise en relation entre des clients BtoB ou BtoC et des chauffeurs <abbr title="Véhicules de tourisme avec chauffeur">VTC</abbr> professionnels.
            </p><p>
                Nous avons développé un système d'information complexe à base de micro services, APIs ouvertes ou internes, applications web et mobile native.
            </p>
            <ul>
                <li>Création et gestion d'entreprise, financement, optimisation des processus métiers.</li>
                <li>Définition de la stratégie de l’entreprise et produits. Management des produits, de l’innovation et des partenaires clés (entreprises dans la mobilité et le transport). gestion de budget, veille concurrentielle, métier et technique.</li>
                <li>Recrutement, formation, management de l'équipe technique et de l'équipe communication et marketing.</li>
                <li>Gestion de projets en mode Agile Scrum, rôle de Product Owner et Scrum Master, recueil des besoins des différents personas (Utilisateurs, travel managers, chauffeurs, équipe support clients et opérationnel, administrateurs), élaboration et évolution du Product Backlog, arbitrage des besoins, mise en place de Zenhub pour une gestion agile plus efficace avec github, mise en place de rapports, analytiques, KPIs et graphiques.</li>
                <li>Définition de l’architecture applicative, découpage, conception générique et abstraite des micro-services jusqu’au modèle de données, échanges entre les micro-services, choix des technologies utilisées.</li>
                <li>Gestion de la qualité et mise en place des outils et méthodes d’industrialisation, Test Driven Development, tests coverage, automatic review, peer programming, intégration et déploiement continus (Codeship, Codeclimate, gemnasium, Jenkins, Newrelic, Logentries...).</li>
                <li>Design, documentation et tests des APIs (Apiary, Postman). Gestion commerciale et technique des partenaires qui intègrent l’API. Mise en place d’un environnement sandbox fiable pour les partenaires. Choix des outils SaaS et APIs externes utilisés par l’entreprise (Stripe, zendesk, pipedrive, twilio, google APIs, mapbox, firebase, slack, mailchimp, mandril, zapier...)</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Développeur full stack</h3>
                <div class="time">2010 - présent</div>
            </div><!--//upper-row-->
            <div class="company">Freelance, Lille</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Consultant solution e-commerce Magento chez le matelas.fr.</li>
                <li>Développeur Magento chez Colisweb, réalisation du plugin de livraison se connectant à l'API Colisweb.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Responsable d’applications Java / JEE</h3>
                <div class="time">2010 - 2012</div>
            </div><!--//upper-row-->
            <div class="company">Freelance pour Cofidis, Lille</div>
        </div><!--//meta-->
        <div class="details">
            <p>Mission de responsable d’application exercée en indépendant, dans le service internet, sur les technologies Java / JEE.</p>
            <ul>
                <li>Modélisation (UML Use – Case, Class Diagram, Sequence Diagram, Activity Diagram), rédaction des documents de conception technique.</li>
                <li>Suivi des développements avec le centre de développement, revue de code.</li>
                <li>Audit de l’application espace client du site cofidis.fr.</li>
                <li>Mise en place d’une bibliothèque générique commune aux différents projets en Java / JEE pour les différentes couches (model, métier, front).</li>
                <li>Gestion de la qualité et mise en place des outils et méthodes d’industrialisation, tests unitaires, tests coverage, automatic review, intégration continue (Hudson, sonar, Junit, DBunit, PMD, CheckStyle, Cobertura).</li>
                <li>Réalisation d’évolutions et correction d’anomalies (Java / JEE et Cobol), livraison des applications.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Ingénieur études et développment Java / JEE</h3>
                <div class="time">2010</div>
            </div><!--//upper-row-->
            <div class="company">Atos Origin worldline, Lille</div>
        </div><!--//meta-->
        <div class="details">
            <p>Le projet Massilia est une solution générique e-commerce réalisée en Java / JEE avec une partie des développements en Offshore.</p>
            <ul>
                <li>Gestion des développements en offshore sur les services modélisés (Atos Origin India) : Support sur la conception technique et fonctionnelle, code review, gestion des anomalies.</li>
                <li>Leader sur le périmètre interface utilisateur côté administration, création d’une librairie de composants Tapestry communs et extensibles.</li>
                <li>Modélisation et Conception technique de nouveaux services de la solution e-commerce. (UML Use – Case, Class Diagram, Sequence Diagram, document en anglais).</li>
                <li>Développement du modèle et des interfaces (DAO et Manager) des services modélisés.</li>
                <li>Création d’une application front de bench, conception des scénarios de test de charge avec JMeter, mise en place de l’environnement de bench et livraison de l’application.</li>
                <li>Documentation et communication en anglais (Code review, Release notes, User guide, installation guide...)</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Ingénieur études et développment Java / JEE</h3>
                <div class="time">2009 - 2010</div>
            </div><!--//upper-row-->
            <div class="company">Atos Origin worldline, Lille</div>
        </div><!--//meta-->
        <div class="details">
            <p>Le projet SPoP est une solution et une plateforme de paiement internationale réalisée en Offshore.</p>
            <ul>
                <li>Recueil des besoins dans les différentes entités européennes d’Atos Origin Worldline.</li>
                <li>Conception fonctionnelle et technique de nouveaux composants génériques communs à différents web services. (UML Use – Case, Class Diagram, Sequence Diagram, document en anglais)</li>
                <li>Gestion des développements en offshore (Atos Origin India), revue de code, recette.</li>
                <li>Mise en place des premières implémentations techniques : continuous build Hudson / Maven, continuous test with JUnit 4 / DBUnit, SOA extensibilité...</li>
                <li>Documentation et communication en anglais (Code review, Release notes, User guide, installation guide...)</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Expert front-end Java / JEE</h3>
                <div class="time">2009</div>
            </div><!--//upper-row-->
            <div class="company">Projet Line Bourse chez Natixis, Atos Origin Intégration, Lille</div>
        </div><!--//meta-->
        <div class="details">
            <p>Site internet de bourse en ligne pour les trois entités du groupe : Natixis, Banque Populaire et Caisse d’épargne.</p>
            <ul>
                <li>Expertise sur l’intégration HTML / CSS2, l’accessibilité et l’ergonomie.</li>
                <li>Revue de la maquette html « charte blanche » (un seul code html généré pour 3 designs différents chargés dynamiquement selon l’entité).</li>
                <li>Expertise pour une compatibilité multi navigateurs (IE6, IE7, Firefox et Safari Mac)</li>
                <li>Gestion de deux ressources supplémentaires pour corriger les bugs front.</li>
                <li>Corrections d’anomalies suite à la phase de recette interne et client (JAVA, JSP, Tiles, JavaScript, HTML / CSS...).</li>
                <li>Respect des normes d’accessibilité niveau bronze, et des standards W3C.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Développeur full stack</h3>
                <div class="time">2009 - 2010</div>
            </div><!--//upper-row-->
            <div class="company">Atos Origin Intégration, Lille</div>
        </div><!--//meta-->
        <div class="details">
            <p>Réalisation de plusieurs missions en tant que développeur full stack pour Atos Origin Intégration.</p>
            <ul>
                <li>Expertise et formation d’une ressource sur l’intégration XHML / CSS d’une maquette dans SharePoint pour le projet élues du Conseil Régional.</li>
                <li>Développeur front-end sur le portail SharePoint d’informations des lycées du Conseil Régional.</li>
                <li>Développeur full stack Java / JEE sur quatres appliactions web pour le Conseil Régional.</li>
                <li>Développeur full stack Java / JEE sur le projet datafluides de CEMA FROID</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Analyste programmeur sur la TMA du domaine crédit</h3>
                <div class="time">2007 - 2009</div>
            </div><!--//upper-row-->
            <div class="company">centre technique Caisse d'épargne, Atos Origin Intégration, Lille</div>
        </div><!--//meta-->
        <div class="details">
            <p>Cette mission s’est déroulée sur le domaine crédit, de l’instruction à la gestion. Celui-ci comprend pour la partie instruction des crédits d’une interface NTIC, et pour la partie gestion du système d’information – Mainframe IBM CICS/MVS (traitement TP et BATCH).</p>
            <ul>
                <li>Gestion des incidents de production, pré-analyse (national ou régional, instruction ou gestion), et dispatch aux collaborateurs de l’équipe pour une correction logicielle, par SPUFI...</li>
                <li>Vérification des différents indicateurs et recadrage de l’activité de l’équipe, participation aux points mensuels de la TMA et aux réunions des référents fonctionnels.</li>
                <li>Analyste programmeur sur la TMA du domaine crédit, analyse et correction des incidents nationaux des logiciels Crédécureuils.</li>
                <li>Suivi de production (vérification du bon fonctionnement des traitements Batch).</li>
                <li>Conception et réalisation de plusieurs intranets (PHP / MySQL et intégration XHTML / CSS2) pour automatiser certaines taches de l’équipe, pour le suivi des mises en production par exemple.</li>
                <li>Mise en production de correctifs.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Conduite de Changement et assistance MOA</h3>
                <div class="time">2005 - 2007</div>
            </div><!--//upper-row-->
            <div class="company">centre technique Caisse d'épargne, Sylis, Lille</div>
        </div><!--//meta-->
        <div class="details">
            <p>Cette mission a été effectuée sur le domaine monétique. Celui-ci comprend le système d’information – Mainframe IBM CICS/MVS (traitement TP et BATCH), les automates bancaires (NCR, Wincor, version HLG, personnalisation...), le serveur d’agence (transaction Mur d’Argent), le serveur monétique ISIM (serveur d’autorisation, et gestionnaire de GAB...) et ARGAUS (outil de télésurveillance, télédiffusion et télécollecte pour les automates bancaires).</p>
            <ul>
                <li>Conduite de Changement et assistance MOA des sièges des Caisse d’Epargne sur l’ensemble du domaine monétique.</li>
                <li>Formation de la MOA à la nouvelle solution monétique.</li>
                <li>Animation d’audio-conférences pour la gestion d’incidents majeurs, le déploiement de versions GAB en production. Rédaction des comptes rendus.</li>
                <li>Communication pour l’ensemble du domaine des évolutions, correctifs, versions logicielles, incidents et exercices de Backup (du serveur monétique).</li>
                <li>Migration des automates bancaires (GAB, BLS et ARC) sur le nouveau serveur monétique.</li>
                <li>Gestion des incidents fonctionnels et techniques pour le domaine monétique.</li>
                <li>Déploiement de versions guichet automatique et écrans publicitaires.</li>
                <li>Rédaction de plan de tests pour l’homologation des versions logicielles des guichets automatiques.</li>
                <li>Conception et réalisation de plusieurs intranets (PHP / MySQL et intégration XHTML / CSS2) pour automatiser certaines taches de l’équipe.</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Chargé d'affaires</h3>
                <div class="time">2004</div>
            </div><!--//upper-row-->
            <div class="company">Phenix netcom, Lille</div>
        </div><!--//meta-->
        <div class="details">
            <ul>
                <li>Chargé d’affaires : Détection et gestion des projets d’installation de PABX (standard téléphonique) et de caméras de surveillance IP, ainsi que la supervision de l’installation en tant que chargé d’affaires.</li>
                <li>Développement d’un intranet prospect – client (PHP / MySQL avec intégration HTML4.0 / CSS).</li>
            </ul>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
