<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>I try to get involved on the technologies and startup community. This is the list of my side projects, conferences or open source libraries.</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="http://takeoffconf.com/2016">Staff of TakeOff conference 2016</a></span> - 
        <span class="project-tagline">
            The Take Off Conference is an exclusive community event, targeting developers and designers who enjoy their craft.
            During two days, more than 250 people will enjoy a single track of hot topics. How will our favourite technological platform – namely the Web – change in the upcoming months? Learn everything from the best sources in the industry — the community members that make all the magic happen.
        </span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="http://jdmc.info/en" target="_blank">Staff of JDMC and hackthemobility hackathon 2016 and 2015</a></span> - 
        <span class="project-tagline">
            Event 100% dedicated to iot, mobility and data.
            Day dedicated to connected technologies and intelligent mobility.
            Data, mobility, connectivity, environmental responsibility, multimodality will be the keyword during the event.
        </span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
    </div><!--//item-->
</section><!--//section-->