<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>I try to get involved on the technologies and startup community. This is the list of my side projects, conferences or open source libraries.</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="http://takeoffconf.com/2016">Staff of TakeOff conference 2016</a></span> - 
        <span class="project-tagline">
            The Take Off Conference is an exclusive community event, targeting developers and designers who enjoy their craft.
            During two days, more than 250 people will enjoy a single track of hot topics. How will our favourite technological platform – namely the Web – change in the upcoming months? Learn everything from the best sources in the industry — the community members that make all the magic happen.
        </span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="http://jdmc.info/en" target="_blank">Staff of JDMC and hackthemobility hackathon 2016 and 2015</a></span> - 
        <span class="project-tagline">
            Day dedicated to connected technologies and intelligent mobility.
        </span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="http://1001startups.fr/les-start-up-et-leur-patrimoine-je-suis-allee-aux-jpds/" target="_blank">JPDS</a></span> 2013 et 2014 - <span class="project-tagline">Organizations of events in the corporate hive during the days of the heritage of the startups, which makes it possible to discover the environment, the way to work, the constraints, the difficulties, the good mood, and especially the good ideas which Are born through our French startups.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://www.youtube.com/watch?v=e7o8euehrBk&list=FLfJqk9E2B54S7jrKWzHYiww&index=6" target="_blank">Technology Lunch Conference</a></span> - <span class="project-tagline">Feedback on the world of Freelance.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/Ecotaco/tomtom_webfleet_connect_gem" target="_blank">Tomtom webfleet connect gem</a></span> - <span class="project-tagline">An open source ruby gem to facilitate the integration of the tomtom connect API.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/maxime-lenne/bumblebee-bot" target="_blank">Bumblebee bot</a></span> - <span class="project-tagline">An open source app in node.js that allows to generate driver random trips</span>
    </div><!--//item-->
</section><!--//section-->