<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>Je participe activement à la vie des commautés techniques et entreprenariales. Voici les projets personnels, conférences ou projets open source auquels j'ai contribué.</p>
    </div><!--//intro-->
    <div class="item">
        <h3 class="project-title">Equipe organsatrice de la <a href="http://takeoffconf.com/2016">TakeOff conference 2016</a></h3> 
        <span class="project-tagline">
            La conférence Take Off est un événement communautaire exclusif, destiné aux développeurs et aux designers qui apprécient leur métier.
            Pendant deux jours, plus de 250 personnes profiteront d'une seule liste de sujets chauds. Comment notre plate-forme technologique - à savoir le Web - changera-t-elle dans les mois à venir ? Apprenez tout à partir des meilleures sources de l'industrie - les membres de la communauté qui font toute la magie.
        </span>
    </div><!--//item-->
    <div class="item">
        <h3 class="project-title">Equipe organsatrice des <a href="http://jdmc.info/en" target="_blank">JDMC et le hackathon hackthemobility</a> 2016 and 2015</h3>
        <span class="project-tagline">
            L'évènement 100% iot, mobilité et data
            La journée dédiée aux technologies connectées et à la mobilité intelligente
        </span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
    </div><!--//item-->
</section><!--//section-->