<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>Je participe activement à la vie des commautés techniques et entreprenariales. Voici les projets personnels, conférences ou projets open source auquels j'ai contribués.</p>
    </div><!--//intro-->
    <div class="item">
        <h3 class="project-title">Equipe organsatrice de la <a href="http://takeoffconf.com/2016">TakeOff conference 2016</a></h3> 
        <span class="project-tagline">
            La conférence Take Off est un événement communautaire exclusif, destiné aux développeurs et aux designers qui apprécient leur métier.
            Pendant deux jours, plus de 250 personnes profiteront d'une seule liste de sujets chauds. Comment notre plate-forme technologique - à savoir le Web - changera-t-elle dans les mois à venir ? Apprenez tout à partir des meilleures sources de l'industrie - les membres de la communauté qui font toute la magie.
        </span>
    </div><!--//item-->
    <div class="item">
        <h3 class="project-title">Equipe organsatrice des <a href="http://jdmc.info/en" target="_blank">JDMC et le hackathon hackthemobility</a> 2016 et 2015</h3>
        <span class="project-tagline">
            La journée dédiée aux technologies connectées et à la mobilité intelligente.
        </span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="http://1001startups.fr/les-start-up-et-leur-patrimoine-je-suis-allee-aux-jpds/" target="_blank">JPDS</a></span> 2013 et 2014 - <span class="project-tagline">Organisations d'événéments au sein de la ruche d'entreprise lors des journées du patrimoine des startups, qui permet de faire découvrir l'environement, la façon de travailler, les contraintes, les difficultés, la bonne humeur, et surtout les bonnes idées qui naissent au travers de nos pépites françaises.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://www.youtube.com/watch?v=e7o8euehrBk&list=FLfJqk9E2B54S7jrKWzHYiww&index=6" target="_blank">Conférence déjeuner technologique</a></span> - <span class="project-tagline">Retour d'expérience sur le monde du Freelance.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/Ecotaco/tomtom_webfleet_connect_gem" target="_blank">Tomtom webfleet connect gem</a></span> - <span class="project-tagline">Une gem ruby open source pour faciliter l'intégration de l'API tomtom connect.</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/maxime-lenne/bumblebee-bot" target="_blank">Bumblebee bot</a></span> - <span class="project-tagline">Une app open source en node.js qui permet de générer des déplacements aléatoire de chauffeurs.</span>
    </div><!--//item-->
</section><!--//section-->