<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             

                 
<div class="sidebar-wrapper">
    <div class="profile-container">
        <img class="profile-img" src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profile.png{% endif %}" alt="profile picture" />
        <h1 class="name">{% if site.name %}{{site.name}}{% else %}Alan Doe{% endif %}</h1>
        <h3 class="tagline">{% if site.taglinefr %}{{site.taglinefr}}{% else %}Full Stack Developer{% endif %}</h3>
    </div><!--//profile-container-->
    
    {% include links.html %}
    {% include about-fr.html %}
    {% include education-fr.html %}
    {% include awards-fr.html %}
    {% include language-fr.html %}
    {% include interests-fr.html %}

</div><!--//sidebar-wrapper-->
