<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <h3>Programming languages, Frameworks et libraries</h3>
    <div class="skillset">
        <div class="item">
            <h4 class="level-title">Ruby &amp; Ruby on Rails</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Java / JEE, EJB3, SpringBeans, SEAM, Spring, Hibernate, JSF &amp; Tapestry</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Node.js &amp; Express</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="65%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Elixir &amp; Phoenix</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="30%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h4 class="level-title">HTML5, CSS3, Less &amp; SAAS</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Javascript, jQuery, Angular &amp; React</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="85%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        
        <div class="item">
            <h4 class="level-title">Android &amp; iOS</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h4 class="level-title">Mainframe IBM, CICS/MVS, JCL, TSO/ISPF, COBOL II TP et BATCH, PACBASE, DB2</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
    </div>

    <h3>Server, BDD &amp; SGBD</h3>
    <div class="skillset">
        <div class="item">
            <h4 class="level-title">Puma, Thin, nginx, apache, jetty, tomcat...</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">PaaS, Heroku, Clever cloud, amazone, OVH...</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">PostgreSQL &amp; PostGIS, MySQL...</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">MongoDB, Elasticsearch</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
    </div>

    <h3>Tools</h3>
    <div class="skillset">
        <div class="item">
            <h4 class="level-title">RubyMine, Eclipse, Android studio, Xcode &amp; Sublime text</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Git, github, svn &amp; d'autres</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
         <div class="item">
            <h4 class="level-title">API REST, Json, geoJson, Apiary, postman...</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">APIs Google, Twilio, Stripe, Zendesk, Slack...</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Newrelic, logentries...</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">CodeShip, CodeClimate, Code coverage, Gemnasium, Jenkins...</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Integration and continuous deployment, TDD</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Sketch, Photoshop, Illustrator &amp; Indesign</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
    </div>
    <h3>Entrepreneurship &amp; Management</h3>
    <div class="skillset">
        <div class="item">
            <h4 class="level-title">Business management, startup, strategy, business model, forecasting</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Product design, innovation, POC, sprint design</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Management, HR</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Méthode Agile, Scrum</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
    </div>
</section><!--//skills-section-->