<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Compétences</h2>
    <h3> Langages de programmation, Frameworks et librairies</h3>
    <div class="skillset">
        <div class="item">
            <h4 class="level-title">Ruby on Rails &amp; Ruby</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Node.js &amp; Express</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="65%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Java &amp; JEE</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Elixir &amp; Phoenix</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="30%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h4 class="level-title">Android &amp; iOS</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->

        <div class="item">
            <h4 class="level-title">HTML5 &amp; CSS3</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Javascript &amp; jQuery</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Angular</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">React</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="50%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        
    </div>

    <h3>Server, BDD &amp; SGBD</h3>
    <div class="skillset">
        <div class="item">
            <h4 class="level-title">Puma, Thin, nginx, apache, jetty, tomcat...</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">PaaS, Heroku, Clever cloud...</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">PostgreSQL &amp; PostGIS, MySQL...</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">MongoDB, Elasticsearch</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
    </div>

    <h3>Outils</h3>
    <div class="skillset">
        <div class="item">
            <h4 class="level-title">RubyMine, Eclipse, Android studio, Xcode &amp; Sublime text</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Git, github, svn &amp; d'autres</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Newrelic, logentries...</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">CodeShip, CodeClimate, Code coverage, Gemnasium, Jenkins...</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
        <div class="item">
            <h4 class="level-title">Sketch, Photoshop, Illustrator &amp; Indesign</h4>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>                                      
            </div><!--//level-bar-->                                 
        </div><!--//item-->
    </div>
</section><!--//skills-section-->