---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="fr" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="fr" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="fr"> <!--<![endif]-->  
{% include head-fr.html %}

<body>
	<ul>
		<li><a href="https://maxime-lenne.github.io/fr" class="active"></a>fr</li>
		| <li><a href="https://maxime-lenne.github.io/" class=""></a>en</li>
	</ul>
    <div class="wrapper">
        {% include sidebar-fr.html %}
        
        <div class="main-wrapper">
           
           {{content}}
            
        </div><!--//main-body-->
    </div>
 
{% include footer.html %}
 
{% include scripts.html %}
</body>
</html> 

