---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}

<body>
	<ul class="list-unstyled list-inline">
		<li><a href="https://maxime-lenne.github.io/fr" class="">fr</a></li>
		| <li><a href="https://maxime-lenne.github.io/" class="active">en</a></li>
	</ul>
    <div class="wrapper">
        {% include sidebar.html %}
        
        <div class="main-wrapper">
           
           {{content}}
            
        </div><!--//main-body-->
    </div>
 
{% include footer.html %}
 
{% include scripts.html %}
</body>
</html> 

